.DS_Store
*.log
node_modules/
/dist/
.tmp
.sass-cache
/app/lib
.idea/
/docs/
##########Platforms##########
/platforms

##########iOS##########
platforms/ios/cordova/console.log

##########plugins######
/plugins