<div data-ng-init="initControlador()">
    <form id="myForm">
        <p>Esta es la pagina de prueba para impresion!!!</p>
        <br/>
        <div id="divPrint">
            <p>bla bla bla bla bla</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <button ng-click="listarDispositivos()">Listar dipositivos bt</button>
            </div>
        </div>
        <br/>
            <div class="row">
                <textarea style="height:350px; width:550px; overflow:scroll;" ng-model="mensaje"></textarea >
                <div class="col-sm-4">
                    <button ng-click="imprimirDoc()">Imprimir bt</button>
                </div>
            </div>
        <br/>
        <br/>

        <br/>
    </form>
</div>